

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}



.selected-ticket-container{
    width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.selected-ticket-container div {
    width: 450px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}